/* === Разметка основного меню === */
.menu ul {
    list-style: none;
    margin:0;
    padding:0;
   }
   .menu_li > li {
    float: left;
    margin:0;
    padding:0;
    position:relative;
   }
   .menu_li li a {
    display:block;
    margin:0;
    padding:10px 15px;
    text-decoration: none;
   }

   /* Предотвращаем схлопывание */
.menu:after {
    content: '';
    display: table;
    clear: both;
   }

   /* === Оформление меню === */
.menu_colors {
    background-color: blueviolet;
   }
   .menu_colors .menu_li > li > a {
    color: white;
   }
   .menu_colors .menu_li .grey_link a{
    background-color: gainsboro;
    color: gray;
   }
   #home_padding {
    padding-left: 70px;
   }
   #more_padding {
    padding-left: 400px;
   }
 
 